
:root {
    --colorPrincipal: #21232A;
    --blanco: #FFF;
    --negro: #000;
    --gris: #e1e1e1;
    --fuentePrincipal: 'Catamaran', sans-serif;
    --fuenteSecunadaria: 'Italianno', cursive;
    --separacion: 5rem;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:after, *:before {
    box-sizing: inherit;
}

body {
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
    line-height: 2;
}

h1, h2, h3 {
    font-family: var(--fuenteSecunadaria);
    margin: 0 0 .5rem 0;
}

h1 {
    font-size: 4;
}

h2 {
    font-size: 3;
}

h3 {
    font-size: 2;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

.hero {

    background-image: url(../img/portada.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.hero h1 {
    font-size: 8rem;
}

.card img {

    object-fit: cover;
    width: 100%;

}

.tamanio {
    font-size: 4rem;
    text-align: center;
}

.tituloh1 {
    font-size: 3.8rem;
}

.titulo {
    font-weight: bold;
}